p{
	font-family: 'Roboto', sans-serif;
}

h1, h2{
	font-family: 'Roboto Condensed', sans-serif;
}

p, h1, h2{
	text-align: center;
}

span{
	
	display: inline-block;
	text-align: center;
	position: relative;
	padding: 12px 50px;
}